In [1]:
from pyspark.sql import SparkSession

# Initialize Spark session with Iceberg configurations
spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.1') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type", "hadoop") \
  .config("spark.sql.catalog.local.warehouse", "spark-warehouse/iceberg") \
  .getOrCreate()

In [2]:
spark

In [3]:
spark.sql(
  """
  CREATE TABLE local.carro_iceberg (id INT, placa STRING) USING iceberg
  """
)

DataFrame[]

In [4]:
spark.sql("select * from local.carro_iceberg").show()

+---+-----+
| id|placa|
+---+-----+
+---+-----+

In [5]:
spark.sql("INSERT INTO local.carro_iceberg VALUES (1, 'XYZ1J34'), (2, 'RLC5B93'), (3, 'ABV1V23')")

DataFrame[]

In [6]:
spark.sql("select * from local.carro_iceberg").show()

+---+-------+
| id|  placa|
+---+-------+
|  1|XYZ1J34|
|  2|RLC5B93|
|  3|ABV1V23|
+---+-------+

In [7]:
spark.sql(
    """
    alter table local.carro_iceberg add column marca STRING, modelo STRING, ano INT
    """
)

DataFrame[]

In [8]:
spark.sql(
    """
    select * from local.carro_iceberg
    """
).show()

+---+-------+-----+------+----+
| id|  placa|marca|modelo| ano|
+---+-------+-----+------+----+
|  1|XYZ1J34| NULL|  NULL|NULL|
|  2|RLC5B93| NULL|  NULL|NULL|
|  3|ABV1V23| NULL|  NULL|NULL|
+---+-------+-----+------+----+

In [9]:
spark.sql(
    """
    update local.carro_iceberg set marca = 'Renault', modelo = 'Sandero', ano = 2021 where id = 1
    """
)

DataFrame[]

In [10]:
spark.sql(
    """
    select * from local.carro_iceberg
    """
).show()

+---+-------+-------+-------+----+
| id|  placa|  marca| modelo| ano|
+---+-------+-------+-------+----+
|  1|XYZ1J34|Renault|Sandero|2021|
|  2|RLC5B93|   NULL|   NULL|NULL|
|  3|ABV1V23|   NULL|   NULL|NULL|
+---+-------+-------+-------+----+

In [11]:
spark.sql('update local.carro_iceberg set marca="GM", modelo="tracker", ano=2020 where id = 2    ')

DataFrame[]

In [12]:
spark.sql('update local.carro_iceberg set marca="Ford", modelo="EcoSport", ano=2022 where id = 3    ')

DataFrame[]

In [13]:
spark.sql('select * from local.carro_iceberg').show()

+---+-------+-------+--------+----+
| id|  placa|  marca|  modelo| ano|
+---+-------+-------+--------+----+
|  3|ABV1V23|   Ford|EcoSport|2022|
|  1|XYZ1J34|Renault| Sandero|2021|
|  2|RLC5B93|     GM| tracker|2020|
+---+-------+-------+--------+----+

In [14]:
spark.sql('delete from local.carro_iceberg where id = 3')

DataFrame[]

In [15]:
spark.sql('select * from local.carro_iceberg').show()

+---+-------+-------+-------+----+
| id|  placa|  marca| modelo| ano|
+---+-------+-------+-------+----+
|  2|RLC5B93|     GM|tracker|2020|
|  1|XYZ1J34|Renault|Sandero|2021|
+---+-------+-------+-------+----+

In [16]:
spark.sql(
  """
  CREATE TABLE local.cliente_iceberg (id INT, nome STRING, telefone STRING, email STRING) USING iceberg
  """
)

DataFrame[]

In [17]:
spark.sql("select * from local.cliente_iceberg").show()

+---+----+--------+-----+
| id|nome|telefone|email|
+---+----+--------+-----+
+---+----+--------+-----+

In [18]:
spark.sql("INSERT INTO local.cliente_iceberg VALUES (1, 'Joshua', '4899201219', 'joshua@gmail.com'), (2, 'Daniela', '4899201230', 'daniela@gmail.com'), "
"(3, 'Emely', '4899201250', 'emely@gmail.com')")

DataFrame[]

In [19]:
spark.sql("select * from local.cliente_iceberg").show()

+---+-------+----------+-----------------+
| id|   nome|  telefone|            email|
+---+-------+----------+-----------------+
|  1| Joshua|4899201219| joshua@gmail.com|
|  2|Daniela|4899201230|daniela@gmail.com|
|  3|  Emely|4899201250|  emely@gmail.com|
+---+-------+----------+-----------------+

In [20]:
spark.sql(
  """
  CREATE TABLE local.vendas_iceberg (id INT, id_cliente INT, id_carro INT, preco FLOAT, data DATE) USING iceberg
  """
)

DataFrame[]

In [21]:
spark.sql("select * from local.vendas_iceberg").show()

+---+----------+--------+-----+----+
| id|id_cliente|id_carro|preco|data|
+---+----------+--------+-----+----+
+---+----------+--------+-----+----+

In [23]:
spark.sql("INSERT INTO local.vendas_iceberg VALUES (1, 1, 1, 50000.00, NOW()), (2, 2, 2, 25000.00, NOW())")

DataFrame[]

In [24]:
spark.sql("select * from local.vendas_iceberg").show()

+---+----------+--------+-------+----------+
| id|id_cliente|id_carro|  preco|      data|
+---+----------+--------+-------+----------+
|  1|         1|       1|50000.0|2025-04-22|
|  2|         2|       2|25000.0|2025-04-22|
+---+----------+--------+-------+----------+